.search
    background: url('../img/bg/search-bg.png') center center/cover no-repeat
    padding-top: 116px
    &__nav
        margin: 0 auto
        margin-bottom: 40px
        display: flex
        align-items: center
        width: max-content
    &__text
        font-size: 24px
        line-height: 28px
        color: #fff
        font-family: "RobotoLight"
        margin-right: 33px
    &__input
        font-size: 18px
        padding: 14px 30px
        background: #fff
        border: none
        border-radius: 50px
        width: 552px
        margin-right: 30px
        &::placeholder,
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::-ms-input-placeholder,
            color: rgba(208, 212, 216, 1)
    &__navBtn
        font-size: 18px
        line-height: 21px
        height: 50px 
        width: 170px
        text-align: center
        line-height: 50px
        border: 1px solid #FF5252
        background: transparent
        color: #fff
        cursor: pointer
    &__content
        width: 1170px
        background: rgba(255, 255, 255, 0.06)
        border: 1px solid #37444E
        backdrop-filter: blur(30px)
        margin: 0 auto
        display: flex
        padding: 48px 55px 41px 55px
        margin-bottom: 50px
    &__selects
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 43px 30px
        width: 100%
        margin-right: 35px
    &__body
        width: 200px
        display: flex
        flex-direction: column
    &__checklist
        display: flex
        flex-direction: column
        border: 1px solid #fff
        border-radius: 4px
        height: 200px
        padding: 32px 5px 20px 25px
        position: relative
        width: 200px
        z-index: 1
    &__box
        display: flex
        flex-direction: column
        overflow-y: scroll
        padding-right: 25px
        height: 120px
        &::-webkit-scrollbar
            width: 8px
            background: #1A242E
            border-radius: 8px
            box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.8)
        &::-webkit-scrollbar-thumb
            background: #FF5252
            border-radius: 6px
    &__name
        color: #fff
        background: transparent
        z-index: 2
        padding: 0 10px
        margin-left: -10px
    &__smallinput
        color: #fff
        font-size: 16px
        z-index: 10
        left: 0
        padding: 0 8px
        position: absolute
        right: 0
        top: 0
        height: 50px
        padding: 17px 20px 14px 25px
        width: 255px
        background: transparent
        border: unset
        margin-top: -8px
        margin-left: -2px
    &__checkbox
        position: absolute
        z-index: -1
        opacity: 0
        &+label
            display: inline-flex
            align-items: center
            user-select: none
            height: 20px
            color: #fff
            font-size: 14px
            &::before
                content: ''
                display: inline-block
                width: 20px
                height: 20px
                flex-shrink: 0
                flex-grow: 0
                border: 1px solid #fff
                margin-right: 11px
                background-repeat: no-repeat
                background-position: center center
                background-size: 50% 50%
            &:not(:last-child)
                margin-bottom: 12px
        &:checked
            &+label
                &::before
                    border-color: #FF5252
                    background-color: #FF5252
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 10'%3e%3cpath d='M4.0001 7.78L1.2201 5L0.273438 5.94L4.0001 9.66666L12.0001 1.66666L11.0601 0.726664L4.0001 7.78Z' fill='white'/%3e%3c/svg%3e")
    &__item
        position: relative
        width: 255px
        border-radius: 3px
        padding: 0
        height: 60px
        &--solo
            height: 52px
            margin-top: 8px
            .search__smallinput
                padding-top: 12px
                margin-top: 0
        legend
            color: #fff
            z-index: 30
            padding: 0 10px
            font-size: 14px
            margin-left: 15px
    &__bottom
        width: 100%
        background: rgba(26, 36, 46, 0.8)
    &__paginationBlock
        width: 1170px
        height: 80px
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
    &__pagination
        margin: 0
        width: 33%
        .pagination__prev
            path
                fill: #fff
        .pagination__next
            path
                fill: #fff
        .pagination__item
            color: #fff
            border: 1px solid #fff
            &--active
                border: 1px solid #FF5252
    &__paginationSelect
        width: 33%
        height: 50px
        display: flex
        .styledSelect
            border-top: unset
            color: rgba(74, 90, 103, 1)
            font-size: 16px
            z-index: 10
            left: 0
            padding: 0 8px
            position: absolute
            right: 0
            top: 0
            height: 50px
            padding: 17px 20px 14px 25px
            width: 255px
            margin-top: 0px
            border: 1px solid #fff
            font-family: "RobotoLight"
            font-weight: 300
            line-height: 16px
            &::after
                top: 21px
        .styledSelect
            color: #fff
        .select
            margin-left: auto
    &__car-count
        width: 33%
        span    
            margin-left: 10px
            font-size: 20px
            color: rgba(255, 82, 82, 1)
    &__btn
        font-size: 18px
        color: #fff
        text-align: center
        display: flex
        width: 100%
        height: 50px
        line-height: 50px
        background: #FF5252
        align-items: center
        justify-content: center
        margin-top: 14px
        cursor: pointer
        span
            font-family: 'RobotoBold'
            margin: 0 4px

.car-list
    padding-bottom: 60px
    &::after
        content: ''
        height: 1px
        background: url('../img/devide.png') center center/cover no-repeat
        width: 1410px
        display: block
        margin: 0 auto
        margin-top: 60px
    &__block
        margin-top: 62px
        display: grid
        grid-template-columns: repeat(6, 1fr)
        grid-gap: 26px 12px
        margin-bottom: 70px
    &__item
        display: flex
        flex-direction: column
        transition: .4s
        border-radius: 15px
        &:hover
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25)
    &__image
        width: 100%
        height: 164px
        object-fit: cover
        border-radius: 15px 15px 0px 0px
    &__nav
        display: flex
        justify-content: space-between
        margin-bottom: 20px
    &__name
        max-width: 100px
        font-size: 14px
        line-height: 16px
        font-family: "RobotoBold"
        color: rgba(68, 77, 86, 1)
    &__price
        font-size: 18px
        font-family: "RobotoBold"
        color: rgba(255, 82, 82, 1)
    &__content
        padding: 20px 10px 25px 10px
        border-radius: 0 0 15px 15px
        background: #F5F5F5
    &__info
        display: flex
        flex-direction: column
    &__infoItem
        display: flex
        justify-content: space-between
        &:not(:last-child)
            margin-bottom: 5px
    &__type
        background: #444D56
        border-radius: 20px
        width: 110px
        height: 23px
        display: flex
        align-items: center
        padding-left: 10px
        span
            color: #fff
            font-size: 14px
            font-family: "RobotoLight"
            line-height: 16px
        svg,img
            width: 18px
            height: auto
            margin-right: 6px
    &__text
        color: rgba(68, 77, 86, 1)
        span
            font-size: 14px
            color: rgba(68, 77, 86, 1)

.blog
    padding-bottom: 100px
    .container
        width: 1170px
    &__title
        font-size: 50px
        font-weight: 400
    &__nav
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 25px
    &__all
        font-size: 16px
        color: rgba(68, 77, 86, 1)
        display: flex
        align-items: center
        svg
            margin-left: 11px
    &__block
        display: grid
        grid-template-columns: 690px 450px
        grid-gap: 30px
        margin: 0 auto
    &__left
        height: 520px
        position: relative
    &__item
        position: relative
        height: 100%
        &::after
            content: ''
            position: absolute
            bottom: 0
            display: block
            height: 135px
            z-index: 1
            width: 100%    
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
    &__right
        display: grid
        grid-template-columns: 1fr
        grid-gap: 20px
        height: 520px
    &__image
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
    &__itemTitle
        position: absolute
        bottom: 30px
        left: 20px
        font-size: 20px
        line-height: 24px
        color: #fff
        font-family: "RobotoBold"
        max-width: 480px
        width: 90%
        z-index: 2
        &--small
            font-size: 18px
            line-height: 130%
    &__date
        background: rgba(255, 255, 255, 0.8)
        padding: 7px 15px
        font-size: 16px
        position: absolute
        top: 20px 
        right: 20px

.car
    .container
        max-width: 1170px
    &__title
        margin-top: 50px
        margin-bottom: 15px
    &__linkItem
        background: #F5F5F5
        border-radius: 45px
        padding: 13px 33px
        margin-right: 15px
        text-align: center
        transition: .4s
        cursor: pointer
        &:hover
            background: rgba(255, 82, 82, 1)
            color: #fff
    &__links
        display: flex
        align-items: center
        margin-top: 50px
        .prev
            width: 16px
            height: 16px
            transform: rotate(180deg)
            margin-right: 15px
            cursor: pointer
            img
                min-width: 16px
                height: 16px
        .next
            width: 16px
            height: 16px
            margin-left: 15px
            cursor: pointer
            img
                min-width: 16px
                height: 16px
    &__for
        margin-bottom: 15px
        width: 570px
        height: 400px
        .prev
            min-width: 30px
            background: transparent
            position: absolute
            top: 50%
            left: 0
            border: 2px solid #FFFFFF
            border-left: unset
            border-radius: 0 6px 6px 0
            height: 50px
            z-index: 2
            cursor: pointer
            img
                position: absolute
                transform: translate(-50%, -50%) rotate(90deg)
                top: 50%
                left: 50%
        .next
            min-width: 30px
            background: transparent
            position: absolute
            top: 50%
            right: 0
            border: 2px solid #FFFFFF
            border-right: unset
            border-radius: 6px 0 0 6px
            height: 50px
            cursor: pointer
            img
                position: absolute
                transform: translate(-50%, -50%) rotate(270deg)
                top: 50%
                left: 50%
    &__num
        display: flex
        align-items: center
        background: rgba(68, 77, 86, 0.8)
        padding: 4px 13px
        position: absolute
        z-index: 3
        color: #fff
        left: 15px
        bottom: 115px
        span
            margin: 0 5px
    &__nav
        display: flex
        .slick-list
            padding: 0 !important
            img
                margin-right: 10px
        .prev
            display: none
        .next
            min-width: 24px
            height: auto
            background: #444D56
            position: relative
            cursor: pointer
            img
                position: absolute
                transform: translate(-50%, -50%) rotate(270deg)
                top: 50%
                left: 50%
    &__box
        display: flex
    &__slider
        width: 570px
        margin-right: 30px
        position: relative
    &__info
        width: 100%
    &__infoNav
        display: flex
        justify-content: space-between
        margin-bottom: 19px
    &__infoPrice
        font-size: 40px
        line-height: 46px
        color: rgba(255, 82, 82, 1)
        font-family: "RobotoBold"
    &__infoVin
        background: #52B6FF
        border-radius: 8px
        text-align: center
        padding: 13px 24px 9px 24px
        font-size: 18px
        color: #fff
        span
            font-size: 20px
            margin-left: 10px

.details
    display: grid
    grid-template-columns: 275px 275px
    grid-gap: 0 19px
    &__item
        display: flex
        flex-direction: column
        background: #F5F5F5
        padding: 34px 16px 23px 16px
        border-radius: 12px
        position: relative
        &::before
            content: ''
            background: url('../img/svg/param-before.svg') center center/cover no-repeat
            position: absolute
            left: 0
            width: 100%
            height: 10px
            top: 0
            display: block
    &__line
        height: 25px
        display: flex
        align-items: center
        &:not(:last-child)
            margin-bottom: 14px
    &__name
        display: flex
        width: 50%
        font-size: 12px
        font-family: "RobotoLight"
        align-items: center
        svg,img
            margin-right: 11px
    &__value
        width: 50%
        font-size: 13px
        font-family: "RobotoBold"

.info
    margin-top: 50px
    padding-bottom: 104px
    .container
        width: 1170px
    &__block
        display: flex
    &__content
        display: flex
        flex-direction: column
        padding: 45px 35px 44px 25px
        background: #F5F5F5
        border-radius: 10px 10px 15px 15px
        margin-right: 68px
        position: relative
        width: 875px
        &::before
            content: ''
            position: absolute
            top: 0px
            display: block
            left: 0
            width: 100%
            height: 4px
            background: url('../img/svg/Intersect.svg') center center/cover no-repeat
    &__last
        display: flex
        flex-direction: column
    &__title
        font-size: 20px
        color: rgba(68, 77, 86, 1)
        margin-bottom: 10px
        line-height: 28px
    &__text
        &:not(:last-child)
            
            margin-bottom: 25px
        p
            font-size: 16px
            line-height: 22px
    &__last
        width: 225px
        .car-list__item
            &:not(:last-child)
                margin-bottom: 15px
    &__lastTitle
        margin-bottom: 25px
        font-size: 18px
        font-family: "RobotoBold"
    &__left
        display: flex
        flex-direction: column

.breadcrumbs
    margin-top: 76px
    padding: 19px 0 12px 0
    background: #F5F5F5
    &__link
        font-size: 16px
        color: #444D56
    &__span
        font-size: 16px
        margin: 0 6px
    &__current
        font-size: 16px
        color: #9FA9B0

.graph
    background: #1C242D
    border-radius: 15px
    display: flex
    flex-direction: column
    padding: 35px
    width: 875px
    margin-top: 30px
    &__title
        color: #fff
        font-size: 24px
        line-height: 28px
    &__nav
        display: flex
        justify-content: space-between
        margin-bottom: 25px
    &__year
        display: flex
    &__tab
        font-size: 18px
        color: rgba(255, 255, 255, 0.3)
        cursor: pointer
        &:not(:last-child)
            margin-right: 15px
    &__yearActive
        color: #fff !important
    &__content
        display: flex
        flex-direction: column
        position: relative
    &__column
        width: 78px
        border-right: 1px solid #fff
        padding-right: 13px
        padding-top: 22px
        padding-bottom: 22px
        .column__item
            text-align: right
            position: relative
            font-size: 12px
            color: #fff
            line-height: 14px
            &:not(:last-child)
                margin-bottom: 16px
            &::after
                content: ''
                width: 8px
                height: 1px
                background: #fff
                position: absolute
                display: block
                right: -13px
                top: 50%
                transform: translateY(-50%)
    &__row
        margin-left: 78px
        border-top: 1px solid #fff
        display: flex
        padding-top: 23px
        width: 719px
        padding-left: 10px
        .row__item
            width: 54px
            text-align: center
            position: relative
            font-size: 12px
            color: #fff
            line-height: 14px
            &:not(:last-child)
                margin-right: 16px
            &::after
                content: ''
                height: 8px
                width: 1px
                background: #fff
                position: absolute
                display: block
                right: 50%
                top: -23px
                transform: translateX(-50%)
    &__body
        background: #1F2933
        width: 719px
        height: 388px
        position: absolute
        top: 0
        left: 78px
        z-index: 2
    .circle
        width: 8px
        height: 8px
        position: absolute
        background:  #52B6FF
        border-radius: 50%
        transform: translate(-50%, -50%)
        cursor: pointer
        z-index: 1
        transition: .2s
        &:hover
            width: 14px
            height: 14px
            transform: translate(-50%,-20%)
            background: #FF5252
            box-shadow: 0px 0px 15px #FF5252
            .circle__content
                opacity: 1
        &-1
            bottom: 20px
            left: 30px
        &-2
            bottom: 50px
            left: 90px
        &-3
            bottom: 90px
            left: 150px
        &-4
            bottom: 130px
            left: 210px
        &-5
            bottom: 170px
            left: 270px
        &-6
            bottom: 230px
            left: 330px
        &-7
            bottom: 260px
            left: 390px
        &-8
            bottom: 170px
            left: 450px
        &-9
            bottom: 140px
            left: 510px
        &__content
            width: 105px
            border-radius: 6px
            opacity: 1
            background: #fff
            position: absolute
            bottom: 35px
            left: -46px
            padding: 6px 13px 7px 13px
            opacity: 0
            transition: .2s
            z-index: 4
            &:hover
                cursor: default !important
                opacity: 0 !important
            &::after
                content: ''
                position: absolute
                bottom: -9px
                left: 50%
                transform: translateX(-50%)
                width: 0
                height: 0
                border-left: 7.5px solid transparent
                border-right: 7.5px solid transparent
                border-top: 10px solid #fff
        &__price
            color: rgba(255, 82, 82, 1)
            font-size: 16px
            margin-bottom: 1px
            text-align: center
            line-height: 18px
        &__date
            font-size: 12px
            line-height: 14px
            text-align: center